[Unit]
Description=ABN-Telegram bot
After=network.target

[Service]
Type=simple
User=xxx
Group=xxx
WorkingDirectory=/daFolder
ExecStart=/usr/bin/python3 /daFolder/bot.py

[Install]
WantedBy=multi-user.target